/venv
/__pycache__
/mainFlask/__pycache__
/mainFlask/routes/__pycache__
/mainFlask/routes/api/__pycache__
/mainFlask/routes/pages/__pycache__
/.vscode
/mainFlask/data/__pycache__
/mainFlask/classes/__pycache__
/mainFlask/tests/__pycache__