#pip install language_tool_python
#pip install spacy
#python -m spacy download de_core_news_sm
#pip install beautifulsoup4



#cd C:\Users\rschlager\Desktop\LanguageTool-6.6 ODER cd C:\Users\R\Desktop\LanguageTool-6.6
#java -cp languagetool-server.jar org.languagetool.server.HTTPServer --port 8081

#java17 to start server