/* Highlight on hover and selection for search nodes */

.complex-search-group {
  display: block;
  width: fit-content;
  min-width: 100%;
  box-sizing: border-box;
  vertical-align: top;
}
.complex-search-group:hover {
  background: #e0e0e0;
  cursor: pointer;
}
.complex-search-group.selected {
  background: #d1d1d1;
  border: 2px solid #888;
}
