<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
    <!-- Left Navigation Bar -->
    <div class="left-nav">
        <div class="nav-top">
            <div class="nav-icon {% if request.path.startswith(url_for('profile')) %}active{% endif %}">
                <a href="{{ url_for('profile') }}">
                    <img src="{{ url_for('static', filename='icons/user.svg') }}" alt="Profile">
                </a>
            </div>
            <div class="nav-icon {% if request.path.startswith(url_for('chat_home')) %}active{% endif %}">
                <a href="{{ url_for('chat_home') }}">
                    <img src="{{ url_for('static', filename='icons/chats.svg') }}" alt="Chats">
                </a>
            </div>
            <div class="nav-icon {% if request.path.startswith(url_for('search_view')) %}active{% endif %}">
                <a href="{{ url_for('search_view') }}">
                    <img src="{{ url_for('static', filename='icons/search.svg') }}" alt="Search">
                </a>
            </div>
            <div class="nav-icon {% if request.path.startswith(url_for('konkordanz_view')) %}active{% endif %}">
                <a href="{{ url_for('konkordanz_view') }}">
                    <img src="{{ url_for('static', filename='icons/konkordanz2.svg') }}" alt="Konkordanz">
                </a>
            </div>
            <div class="nav-icon {% if request.path.startswith(url_for('metrics_view')) %}active{% endif %}">
                <a href="{{ url_for('metrics_view') }}">
                    <img src="{{ url_for('static', filename='icons/metrics.svg') }}" alt="Metrics">
                </a>
            </div>
        </div>
        <div class="nav-bottom">
            {% if active_author %}
            <div class="selected-author" style="text-align: center; margin-top: 20px; font-size: 0.85rem; color: #888;">
                <div class="avatar" title="{{ active_author.name }}">{{ active_author.name[0] }}</div>
            </div>
            {% endif %}
            <div class="nav-icon {% if request.path.startswith(url_for('settings_view')) %}active{% endif %}">
                <a href="{{ url_for('settings_view') }}">
                    <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="Settings">
                </a>
            </div>
        </div>
    </div>

    <!-- Sidebar and Chat Content -->
    {% if request.path.startswith(url_for('chat_home')) %}
        <div class="sidebar" >
            {% include 'chat_list.html' %}
        </div>
    {% endif %}

    <!-- Sidebar and Chat Content -->
    {% if request.path.startswith(url_for('profile')) %}
        <div class="sidebar" >
            {% include 'author_list.html' %}
        </div>
    {% endif %}
    
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    </div>
    
{% block scripts %}{% endblock %}
</body>
</html>




